@import "tailwindcss";

@font-face {
  font-family: "Sansation";
  src: url("/assets/fonts/sansation/Sansation-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sansation";
  src: url("/assets/fonts/sansation/Sansation-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nata Sans";
  src: url("/assets/fonts/natasans/NataSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nata Sans";
  src: url("/assets/fonts/natasans/NataSans-SemiBold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nata Sans";
  src: url("/assets/fonts/natasans/NataSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("/assets/fonts/mulish/Mulish-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("/assets/fonts/mulish/Mulish-SemiBold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("/assets/fonts/mulish/Mulish-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* here we import the fonts so we can use it in Tailwind */
@theme {
  --font-header: "Sansation", sans-serif;
  --font-body: "Mulish", sans-serif;

  /* Brand / Accent */
  --color-primary: #f0e5d0;
  --color-primary-hover: #a2ead3;
  --color-accent: #faba79;

  --color-background: #53525e;

  /* Neutrals */
  --color-secondary-bg: #f3f5f6;
  --color-border: #9ea2a3;

  /* Text */
  --color-text: #f5f5f4; /* gray-900 */
  --color-text-light: #6b7280; /* gray-500 */
  --color-text-inverse: #ffffff;

  /* Semantic */
  --color-success: #10b981; /* emerald-500 */
  --color-warning: #f59e0b; /* amber-500 */
  --color-error: #ef4444; /* red-500 */
}
