@import "tailwindcss";

@font-face {
  font-family: "Sansation";
  src: url("/assets/fonts/sansation/Sansation-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sansation";
  src: url("/assets/fonts/sansation/Sansation-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nata Sans";
  src: url("/assets/fonts/natasans/NataSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nata Sans";
  src: url("/assets/fonts/natasans/NataSans-SemiBold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nata Sans";
  src: url("/assets/fonts/natasans/NataSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("/assets/fonts/mulish/Mulish-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("/assets/fonts/mulish/Mulish-SemiBold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("/assets/fonts/mulish/Mulish-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* here we import the fonts so we can use it in Tailwind */
@theme {
  --font-header: "Sansation", sans-serif;
  --font-body: "Mulish", sans-serif;
}
